@charset "UTF-8";

.top-box .navbar{
	width: 128px;
}

.container-box {
	position: relative; margin-left: 400px;
	top: 200px;
}
.middle-box .form-group{
	display: inline-block;
}
.middle-box .filter-box .btn{
	position: relative; bottom: 3px;
}

.table{
	width: 100%;  border-collapse: collapse;
  text-align: center;
}
.table thead th{
	font-size: 12px; padding: 12px;
	border-top: 1px solid black;
}


.bottom-box{
	width: 1200px;
}
.table tbody td{
	padding: 11px;
	font-size: 12px; border-right: 1px solid #dee2e6;
	line-height: 20px;
}
.table tbody td .btn{
	padding: 1px; width: 70px; font-size: 12px;
}
.table .team-wrap{
	display: inline-block; width: 150px;
}
.table .team-wrap.team-left{
	text-align: left;
}
.table .team-wrap.team-left .score{
	float: right;
}
.table .team-wrap.team-right{
	text-align: right;
}
.table .team-wrap.team-right .score{
	float: left;
}
.table .versus{
	margin: 0 9px;
}