
/* 지역 버튼 */
.playermain-main{
min-width: 1000px;  
}
.playermain-main .container-region {
  display: inline-block;
}
.playermain-main .item-region {
  float: left;
}
.playermain-main .item-region + .item-region {
  margin-left: 8px;
}

/* 검색 그룹 */

.playermain-main .group-search-player {
  float: right;
  clear: both;
}

/* 개별 팀 */

.playermain-main .container-player {
  margin-top: 10px;
}

.playermain-main .container-player .item-player {
  width: 300px;
  height: 200px;
  border: 1px solid black;
}

/* 페이지 네이션 */
.playermain-main .container-pagenation {
  width: inherit;
  padding: 0 auto;
}
/* 개별 팀박스 */

.playermain-main .container-playerbox {
  margin-top: 30px;
}

.playermain-main .container-playerbox .item-playerbox {
  border: 3px double white;
  border-radius: 20px;
  background-color: rgb(38, 97, 173);
  min-width: 480px;
  width: calc(40%);
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.playermain-main .container-playerbox .item-playerbox .left-playerbox,
.right-playerbox {
  position: relative;
  display: inline-block;
}
.playermain-main .container-playerbox .item-playerbox .link-player-select {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-size: 150px 150px;
}

.playermain-main .container-playerbox .item-playerbox .label-player {
  position: absolute;
  width: 150px;
  float: left;
  bottom: 0;
  background-color: #212529;
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  font-weight: 700;
  padding: 2px;
}
.playermain-main .container-playerbox .right-playerbox {
  margin: 30px calc(40% - 150px);
  position: absolute;
  font-size: 18px;
  vertical-align: middle;
  color: white;
}
.playermain-main .container-playerbox .right-playerbox .show-schedule{
  margin: 10px 0;
}

.link-player-img1{
	display: inline-block;
	width: 150px; height: 150px;
	background-image: url(./선수\ 이미지\ 샘플.png);
	background-size: 150px 150px;
}
.link-player-img2{
	display: inline-block;
	width: 150px; height: 150px;
	background-image: url(./프로필2.png);
	background-size: 150px 150px;
}

.link-player-img3{
	display: inline-block;
	width: 150px; height: 150px;
	background-image: url(./프로필.png);
	background-size: 150px 150px;
}

.btn-kickout{
  display: none;
  position: absolute;
  bottom: 0;
  
  
}