
*.class

hereoTest/src/main/webapp/META-INF/MANIFEST.MF

hereoTest/target/

hereoTest/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

hereoTest/target/m2e-wtp/web-resources/META-INF/maven/com.hereo/test/pom.properties

hereoTest/src/main/webapp/META-INF/maven/com.hereo/test/pom.properties

hereoTest/.settings/org.eclipse.m2e.wtp.prefs

hereoTest/.classpath

hereoTest/.settings/org.eclipse.wst.common.component

hereoTest/.settings/org.eclipse.jdt.core.prefs

hereoTest/.settings/org.eclipse.wst.common.project.facet.core.xml
*.properties

hereoTest/.settings/org.eclipse.m2e.core.prefs

hereoTest/.settings/org.eclipse.wst.validation.prefs

hereoTest/.settings/org.springframework.ide.eclipse.beans.core.prefs

hereoTest/.settings/org.springframework.ide.eclipse.core.prefs
