
*{
	/* font-size: 10px; */
	font-family: 'Malgun Gothic';

}

ul, li{
	list-style: none;
}

.container-board{
	width: 1000px;
	margin: 100px auto;
}
/* 타이틀  */
.container-board .title-board{
	margin-bottom: 30px;
}
.container-board .title-board strong{
	font-size: 3rem;
}
.container-board .title-board p{
	margin-top : 5px;
	font-size: 1.4rem;
}


/* 게시글 */

.container-board .list-board{
	width: 100%;
	border-top: 2px solid #000;
}
.container-board .item-board{
	border-bottom: 1px solid #ddd;
	font-size: 0;

}
.container-board .item-board > div{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 1.4rem;
	padding: 15px 0;
}
.container-board .num, .writer, .date, .position, .location{
	width: 10%;
}
.container-board .item-board .contact, .buttonCol{
	width: 20%;
	text-align: left;
}
.container-board .item-board.top .title{
	text-align: center;
}

.container-board .item-board.top{
	border-bottom: 1px solid #999;
	font-weight: 700;
}
.container-board .item-board:last-child{
	border-bottom : 1px solid #000;
}


/* 페이지네이션 */
.container-board .board-pagenation{
	margin-top: 30px;
	text-align: center;
	font-size: 0;
}
.container-board .board-pagenation a{
	display: inline-block;
	width: 32px; height: 32px;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-left: 0;
	line-height: 100%;
	box-sizing: border-box;
}
.container-board .board-pagenation a.bt{
	font-size: 1.2rem;
	padding-top : 10px;
	letter-spacing: -1px;
}
.container-board .board-pagenation a.num{
	font-size: 1.4rem;
	padding-top : 9px;
}
.container-board .board-pagenation a:first-child{
	border-left: 1px solid #ddd;
}
.container-board .board-pagenation a.num.on{
	border-color: black;
	background-color: black;
	color: #fff;
}



/* 버튼박스 */
.container-board .btnBox-board{
	margin-top : 30px;
	font-size: 0;
	text-align: center;

}
.container-board .btnBox-board a{
	display: inline-block;
	min-width: 80px;
	padding: 10px;
	margin-left : 10px;
	border: 1px solid #000;
	border-radius: 2px;
	font-size: 1.4rem;
}
.container-board .btnBox-board a:first-child{
	margin-left:0;
}


.container-board .btnBox-board a.on{
	background-color: #000;
	color: #fff;
}

.new_join, .nocheck_join, .whole_join{
	font-size: 14px;
}
.new_num{
	color: blue;
}
.nocheck_num{
	color:red;
}
.whole_num{
	color:green
}
