.hero-main {
  padding-top: 170px;
  padding-left: calc(20%);
}
.hero__title {
  font-size: 30px;
  padding: 8px 15px;
  border: 1px solid none;
  border-radius: 15px;
  background-color: #ffe3e3;
}
.hero__region {
  display: flex;
  margin-top: 25px;
}
.hero__region-select {
  margin-left: 7px;
  font-weight: 600;
  text-align: center;
  width: 60px;
  line-height: 30px;
  background-color: #ff9292;
  border-radius: 10px;
}
.region-seoul,
.region-kungGi {
  background-color: #f4f5db;
}
.hero__contents {
  margin-top: 40px;
  width: 90%;
  padding: 5px 20px;
}
.hero__contents-title a:hover {
  text-decoration: underline;
}
