.accid-main {
  padding-top: 170px;
  padding-left: calc(20%);
}
.accid__title {
  font-size: 30px;
  padding: 8px 15px;
  border: 1px solid none;
  border-radius: 15px;
  background-color: #bface0;
}
.accid__notice {
  margin-top: 20px;
}
.accid__contents {
  margin-top: 40px;
  width: 90%;
  padding: 5px 20px;
}
.accid__contents-title a:hover {
  text-decoration: underline;
}
