.commu-common__pageNum,
.commu-common__search {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.commu-common__search {
  margin-bottom: 25px;
}
.commu-common__search-input {
  margin: 0px 2px;
  width: 220px;
}
.commu-common__search-btn {
  width: 55px;
  font-size: 15px;
}
