footer {
  border-top: 1px solid rgba(0, 0, 0, 0.192);
  background-color: #fcfcfc;
  padding-bottom: 2%;
}
.footer-menu__container {
  padding: 0.3% 15%;
  margin-bottom: 0.3%;
  font-size: 15px;
  font-weight: 600;
}
.footer-menu__list {
  float: left;
  margin: 0 1% 0.3% 1%;
}
.footer__info {
  padding: 0 15.5%;
  color: #888;
}
.footer-menu__container::after {
  clear: both;
  content: "";
  display: block;
}
.footer__info>li:first-child {
  font-weight: 600;
}
.footer__info-git {
  font-size: 12px;
  padding-top: 3px;
}
