.submenu {
    background-color: #183153;
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: flex;


}
.submenu__list::before {
    height: 120px;
    display: block;
    content: '';

}
.submenu__list {
    height: 500px;
    width: 17%;
    margin-left: 20px;

}

.submenu__list ul {
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-right: 0.5px solid white;
}
.submenu__list li {
    margin: 35px 0px;
}
.submenu__team-contents::before {
    height: 120px;
    display: block;
    content: '';
}
.submenu__team-contents {
    position: relative;
    width: 83%;
}
.sub-team__img1 {
    position: absolute;
    max-width: 100%;
    width: 700px;
    height: auto;
    border-radius: 15px;
    left: 60px;
}
.sub-team__img2 {
    position: absolute;
    height: 250px;
    right: 220px;
    bottom: 140px;
}
.sub-team__title {
    position: absolute;
    color: white;
    font-size: 40px;
    right: 250px;
    top: 200px;
    padding: 15px 0px;
}
.sub-team__title2 {
    position: absolute;
    color: white;
    font-size: 30px;
    right: 250px;
    top: 280px;
    padding: 5px 0px;
}
.sub-team__title3 {
    position: absolute;
    color: red;
    font-weight: 600;
    font-size: 50px;
    right: 250px;
    top: 330px;
    padding: 5px 0px;
}
.sub-team__title3:hover {
    text-decoration: underline;
}