<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
    <script src="bootstrap4/jquery.js"></script>
    <script src="component.js"></script>
    <!-- <script src="../hover.js"></script> -->
  </head>
  <body>
    <header class="topBar">
      <div class="topBar__containerBox">
        <!-- 최상단 로그인 메뉴바 -->
        <div class="topBar__containerBox1">
          <ul class="topBar__list">
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
            <li><a href="#">고객센터</a></li>
          </ul>
        </div>
        <!-- 메인 메뉴바 -->
        <nav class="menu-containerBox2">
          <ul class="menu-containerBox2__bigBox">
            <li class="menu-container__box">
              <a href="../mainpage.html" target="_top" id="home"
                >Here <i class="fa-solid fa-baseball"></i
              ></a>
            </li>
            <li class="menu-container__box">
              <a href="../baseball/team/team.html" target="_top"
                ><span>Team</span></a
              >
              <ul class="submenu-containerBox1">
                <li><a>서브메뉴1</a></li>
                <li><a>서브메뉴2</a></li>
              </ul>
            </li>
            <li class="menu-container__box">
              <a href="#"><span>League</span></a>
              <ul class="submenu-containerBox1">
                <li><a>서브메뉴3</a></li>
                <li><a>서브메뉴4</a></li>
              </ul>
            </li>
            <li class="menu-container__box">
              <a href="#"><span>Reservation</span></a>
              <ul class="submenu-containerBox1">
                <li><a>서브메뉴5</a></li>
                <li><a>서브메뉴6</a></li>
              </ul>
            </li>
            <li class="menu-container__box">
              <a href="#"><span>Community</span></a>
              <ul class="submenu-containerBox1">
                <li><a>서브메뉴7</a></li>
                <li><a>서브메뉴8</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="submenu__background"></div>
      </div>
    </header>
    <script
      src="https://kit.fontawesome.com/bedfa56d7f.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
