@charset "UTF-8";




.detail-main {
  padding-top: 170px;
  padding-left: calc(20%);
}
h3 {
	padding-left : 50px;
}
.board-infoContainer {
	padding-left : 50px;
	border-bottom: 1px solid #d5d5d7;
	padding-bottom:15px;
	margin-right:50px;
}
.board-tagContainer {
	display:flex;
	margin-bottom:2px;
}
.commonTag{
	margin-right:4px;
	padding : 2px 6px; 
	border-radius: 7px;
	background-color:#EFF3FA;
}
.board-dataContainer {
	display:flex;
	color : #868E96;
}
.writer {
	font-weight : 600;
	font-size: 18px;
}
.regiDate {
	margin-right : 10px;
}
.board-content_container {
	padding : 10px 20px 50px 50px;
	
}
.btn-container {
	margin-top :50px;
	padding-left : 150px;
}

.pre-list_btn, .like_btn, .dislike_btn {
	padding : 8px 16px; 
	border-radius: 10px;
	margin-right : 7px;
	border-style:none;
}
.delete-btn,.correct_btn {
	position: relative;
	border-style:none;
	background-color:white;
	color : #868E96;
	font-size:13px;
}
.section {
	color : #868E96;
	font-size:13px;
	display: inline;
	position: relative;
	right:-895px;	
}
.delete-btn:hover,.correct_btn:hover {
	  text-decoration: underline;
}
.delete-btn {
	right:-900px;
}
.correct_btn {
	right:-890px;
}