.box-board_write{
	border-top : 2px solid #000;
}
.box-board_write .list-board_write .title, 
.box-board_write .list-board_write .info{
	padding: 15px;

}
.box-board_write .list-board_write .info{
	border-top: 1px dashed #ddd;
	border-bottom: 1px solid #000;
	font-size: 0;
}
.box-board_write .list-board_write .title dl{
	font-size: 0;
}
.box-board_write .list-board_write .info dl{
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.box-board_write .list-board_write .title dt,
.box-board_write .list-board_write .title dd,
.box-board_write .list-board_write .info dt,
.box-board_write .list-board_write .info dd {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.4rem;
}

.box-board_write .list-board_write .title dt,
.box-board_write .list-board_write .info dt{
	width: 100px;
}
.box-board_write .list-board_write .title dd{
	width: calc( 100% - 100px);
}

.box-board_write .list-board_write .title input[type="text"], 
.box-board_write .list-board_write .info input[type="text"], 
.box-board_write .list-board_write .info input[type="password"]{
	padding: 10px;
	box-sizing: border-box;
}


.box-board_write .list-board_write .title input[type="text"]{
	width: 80%;

}









/* 내용 */
.box-board_write .list-board_write .cont{
	border-bottom: 1px solid #000;
}
.box-board_write .list-board_write .cont textarea{
	display: block;
	width: 100%; height: 300px;
	padding: 15px; box-sizing: border-box;
	border: 0;
	resize: vertical;

}