

.container-board{
	position: relative;
	width: 1000px;

	margin: 100px auto;
	margin-top: 180px;
}
/* 타이틀  */
.title-board{
	margin-bottom: 30px;
}
.title-board strong{
	font-size: 3rem;
}
.title-board p{
	margin-top : 5px;
	font-size: 1.4rem;
}


/* 게시글 */

.list-board{
	width: 100%;
	border-top: 2px solid #000;
}
.item-board{
	border-bottom: 1px solid #ddd;
	font-size: 0;

}
.item-board > div{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 1.4rem;
	padding: 15px 0;
}
.item-board .num, .writer, .date, .count{
	width: 10%;
}
.item-board .title{
	width: 60%;
	text-align: left;
}
.item-board.top .title{
	text-align: center;
}

.item-board.top{
	border-bottom: 1px solid #999;
	font-weight: 700;
}
.item-board:last-child{
	border-bottom : 1px solid #000;
}


/* 페이지네이션 */
.team-board .board-pagenation{
	margin-top: 30px;
	text-align: center;
	font-size: 0;
}
.team-board .board-pagenation li{
	display: inline-block;
	width: 32px; height: 32px;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-left: 0;
	line-height: 100%;
	box-sizing: border-box;
}
.team-board .board-pagenation li{
	font-size: 1.4rem;
	padding-top : 9px;
	letter-spacing: -1px;
}
.team-board .board-pagenation li.next,
.team-board .board-pagenation li.prev
{
	font-size: 1.4rem;
	padding-top : 9px;
}
.team-board .board-pagenation li:first-child{
	border-left: 1px solid #ddd;
}
.team-board .board-pagenation li.active{
	border-color: black;
	background-color: black;
	color: #fff;
}



/* 버튼박스 */
.btnBox-board{
	margin-top : 30px;
	font-size: 0;
	text-align: center;

}
.btnBox-board a{
	display: inline-block;
	min-width: 80px;
	padding: 10px;
	margin-left : 10px;
	border: 1px solid #000;
	border-radius: 2px;
	font-size: 1.4rem;
}
.btnBox-board a:first-child{
	margin-left:0;
}


.btnBox-board a.on{
	background-color: #000;
	color: #fff;
}

