
.writeBoard-btnBox {
	position : absolute;
	right : 50px;
}
.writeBoard-btnBox .writeBoard-btn {

	border-style: none;
	border-radius: 5px;
	padding : 5px 8px;
	background-color: #F5F5F5;
	font-size:14px;
}
.commu-common__search-input {
		width:180px;
		border-radius: 5px;
		 border-width:thin;
		 padding : 3px 5px;
		 font-size:13px;
}
.commu-common__search-input:focus,
.commu-common__search .freeBoard-opt:focus {
		 outline:0;
}
.commu-common__search-btn {
		border-style: none;
	border-radius: 5px;
	padding : 3px 8px;
	background-color: #F5F5F5;
	font-size : 14px;
}
.commu-common__pageNum {
	  margin-left : 40%;
}
.commu-common__search {
	margin-left : 35%;
}