.main__page {
  position: relative;
  padding-top: 120px;
  height: 100vh;
  background-color: #c9dbf3;
}
.main__imgBox-container {
  left: 25%;
  width: 1000px;
  height: 500px;
  z-index: 4;
  position: absolute;
  overflow: hidden;
}
.main__imgBox-container2 {
  display: flex;
  width: 300%;
}
.main__imgBox-container2 li img {
  object-fit: cover;
  width: 1000px;
  height: 500px;
}
