.signup {
    margin-top: 120px;
}
/* 회원가입 상단 메뉴 */
.signUp-topMenu {
    background-color: #150050;
    height: 80px;
}
.signUp-topMenu__goMainPage {
    width: 100%;
    height: 80px;
    position: relative;
}
.signUp-topMenu__goMainPage > a {
    display: block;
    height: 80px;
    position: absolute;
    top: 0px;
}
.signUp-topMenu__goMainPage:first-child > a {
    font-size: 35px;
    top: 0px;
    left: 45%;
    color: #f9f5e7;
    font-weight: 600;
    line-height: 75px;
}
/* 본문 */
.signUp-dsscription {
    font-size: 20px;
    padding: 20px 0px;
}
