.teamrec-main{
	margin-top: 180px;
	background-color: #183153;
	border-radius: 30px;
	min-width: 1000px;
}

.left-record{
	
	/* border: 1px solid black; */
	display: inline-block;
	vertical-align: top;
	position: relative;
	
	
}
.left-record .list-team_record_intro{
	background-color: antiquewhite;
	border-radius: 30px;
	margin-left: 150px;
	padding: 30px;
	font-size: 1.4em;
	font-weight: 700;
	line-height: 38px;
	box-shadow: 2px 2px 0 5px #1c1e20 ;
		
}
.left-record .list-team_record_intro .img-team-logo{
	width: 100px; height: 100px;
	display: inline-block;
	
}
.left-record .list-team_record_intro .team-name {
	display: inline-block;
	letter-spacing: -4px;
	font-size: 60px;
	vertical-align: middle;
	line-height: 100px;
	color: black;
	text-shadow: 2px 2px 1px gray;

}
.left-record .list-team_intro .team-message{
	font-style: oblique;
	margin : 20px 0 20px 10px;
}
.left-record .list-team_record_intro li{
	margin-left: 70px;
}
.left-record .list-team_record_intro li:first-child{
	margin-left: 0;
}

.right-record{
	float: right;

}


.block-liner{
	display: block;
	background-color: antiquewhite;
	margin-top : 30px;
}
.block-liner .content-blockliner{
	text-align: center;
	font-size: 30px;
	padding : 10px;
}
.block-liner .content-blockliner .titletext-latestscore{
	font-weight: 700;
}
/* 매치업 */
.teamrec-main .container-matchup{
	margin-right: 10px;
	position: relative;
	display: inline-block;
	border-radius: 20px;
	background-color: rgb(38, 97, 173);
	width: calc( 20% );
	min-width: 270px;
	box-shadow: 2px 2px 0 5px #1c1e20 ;

}
.teamrec-main .titletext-matchup{
	font-size: 25px;
	text-align: center;
	color: aliceblue;
	font-weight: 700;
}
.teamrec-main .item-matchup{
	display: block;
	border-radius: 10px;
	background-color: antiquewhite;
	margin: 10px 0;

}
.teamrec-main .item-matchup .link-matchup{
	margin : 10px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: 700;
}
.teamrec-main .item-matchup .result-matchup{
	float: right;
	margin-right: 10px;
	margin-top: 3px;
	font-size: 20px;
	color: black;
	font-weight: 600;
}
.container-lastMatchRec .item-matchup .result-matchup.win{
	color: dodgerblue;
	
}
.container-lastMatchRec .item-matchup .result-matchup.lose{
	color: crimson;
	
}
/* 날짜 선택 datepicker */
.container-lastMatchRec .subcontaier-firstLine{
	display: flex;
}
.container-lastMatchRec .box-datepicker{
	position: relative;
	display: inline-block;
	width: 20%;
	background-color: antiquewhite;
	vertical-align: top;
	margin-top: 20px;
	margin-left : 20px;
	border-radius: 20px;
	padding: 20px 10px 5px 10px;
	box-shadow: 2px 2px 0 5px #1c1e20 ;

}
.container-lastMatchRec .box-datepicker label{
	font-weight: 700;
}

/* 스코어 박스 */
.container-lastMatchRec .box-score{

	background-color: antiquewhite;
	display: inline-block;
	border-radius: 30px;
	margin-left : 150px;
	margin-top : 20px;
	padding: 30px;
	font-size: 1.4em;
	font-weight: 700;
	line-height: 38px;
	box-shadow: 2px 2px 0 5px #1c1e20 ;
}
.container-lastMatchRec .box-score .team-logo{
	width: 75px; height: 75px;

}
.container-lastMatchRec .box-score .img-box{
	position: relative;
	display: inline-block;
}
.container-lastMatchRec .box-score .img-box button{
	position: absolute;
	bottom: -10px;
	left: 10px;
}
.container-lastMatchRec .box-score .team-box{
	vertical-align: middle;
	display: inline-block;

}
.container-lastMatchRec .box-score .team-name{
	margin-left: 10px;
	font-size: 30px;
}
.score_num{
	text-align: center;
}


/* 선수 라인업 */
.container-lastMatchRec .container-lineup{
	float: right;
	margin-right: 10px;
	
}

/* 두번째 라인 */
/* 경기 스코어표 */
.subcontainer-secondLine .box-detail_score{
	display: inline-block;
	background-color: whitesmoke;
	padding: 20px;
	border-radius: 20px;
	margin-left: 20px;
	box-shadow: 2px 2px 0 5px #1c1e20 ;

}


.subcontainer-secondLine .box-detail_score .table-detail_score{
	border: 2px solid black;
	
}
.subcontainer-secondLine .box-detail_score .table-detail_score th{
	padding : 5px;
	border: 1px solid black;
}
.subcontainer-secondLine .box-detail_score .table-detail_score td{
	padding : 5px;
	text-align: center;
	border: 1px solid gainsboro;
}
.subcontainer-secondLine .box-detail_score .table-detail_score td:first-child{

	border: 1px solid black;
}
/* 플레이어 스탯 */
.box-player_score{
	background-color: whitesmoke;
}
.box-player_score .player_profile{
	position: relative;
	display: inline-block;
	background-color: transparent;
	width: 100px; height: 100px;
}
.box-player_score .player_profile .btn-mvp{
	position: absolute;
	bottom: 0; left: 0;
	font-weight: 700;
	opacity: 0.8;	
}
.box-player_score .player_profile .img-player{
	width: 100px; height: 100px;
}
.box-player_score .player_profile .table-player_score{
	display: inline-block;
}
/* 선수 라인업 호버 메뉴  */

/* 팀 소개 및 연혁 */
.container-teamhistory{
	display: inline-block;
	border: 1px solid white;
	width: 40%;
}

/* 팀 창단 이후 승률 그래프 */
.container-team-winlose-graph{
	display: inline-block;
	width: 40%; height: 300px;
	border: 1px solid white;

}

/* 전체 리그 참여 연혁 */
.container-team-league{
	display: inline-block;
	width: 40%; height: 300px;
	border: 1px solid white;
}
/* 현재 참여중 리그 */
.container-team-current-league{
	display: inline-block;
	width: 40%; height: 300px;
	border: 1px solid white;
}

.container-team-winlose-graph::after{
	clear: both; content: ''; display: block;
}

/* right-team-history */
.right-team-history{
	margin : 20px ;
	display: inline-block;
	background-color: antiquewhite;
	width: 70%;
}




/* 창단 후 승률그래프 */
.container-team-winlose-graph{
	float: right;
}

.container-team-winlose-graph .item-winlosegraph{
	border-radius: 20px;
	padding: 20px; 
	background-color: white;
	
}
.container-team-winlose-graph .item-winlosegraph::after{
	clear: both; content: ''; display: block;

}