/* 메인 */
.teammain-main, .teamsep-main, .teamplayerdetail-main{
	margin-top: 150px;
	margin-left : 30px;
	position: absolute;
	left: 20%;
	padding-top: 20px;
}

/* 사이드바 */
.team-sidebar{
	padding-top: 150px;
	width: calc(20%);
	height: 1000px;
	float: left;
	clear: both;
	box-shadow: 3px 2px 3px 3px rgba(163, 157, 157, 0.7);
}



/* 지역 버튼 */
.teammain-main .container-region{
	display: inline-block;
	
}
.teammain-main .item-region{
	float: left;
}
.teammain-main .item-region + .item-region { 
	margin-left: 8px;
}



/* 검색 그룹 */

.teammain-main .group-search-team{
	float: right;
	clear: both;
}

/* 개별 팀 */

.teammain-main .container-team{
	margin-top : 10px;
}

.teammain-main .container-team .item-team{
	width: 300px; height : 200px;
		border: 1px solid black;
	
}


.teammain-main .container-pagenation{
	padding: 0 auto;	
}


/* 공용 */
.clear-fix::after{
	content: ''; clear: both; display: block;
}