.container-region{
	display: inline-block;
	
}
.item-region{
	float: left;
}
.item-region + .item-region { 
	margin-left: 8px;
}
.list-region::after{
	content: ''; clear: both; display: block;
}
.sidebar{
	width: 20%;
	height: 1000px;
	float: left;
	clear: both;
	border: 1px solid black;
}
.main{
	position: absolute;
	left: 20%;
	padding-top: 20px;
}
.container-team .item-team{
	width: 300px; height : 200px;

	border: 1px solid black;
	
}
.pagenation{
	margin: 0 auto;
}