
.left-introduce{
	width: 40%;
	border: 1px solid white;
	display: inline-block;

}
.right-introduce{
	width: 40%;
	border: 1px solid white;
	display: inline-block;
}


/* container-lineup */
.container-lineup{
	/* 임시 보더 */
	display: inline-block;
	border: 1px solid black;
	width: 40%;
}



/* 선수 라인업 호버 메뉴  */
.container-hover-lineup{
	display: inline-block;
	width: 40%;
	border : 1px solid black;

}
.container-latestscore{
	border : 1px solid black;
}

.container-calendar{
	display: inline-block;
	border: 1px solid white;
}

/* 팀 소개 및 연혁 */
.container-teamhistory{
	display: inline-block;
	border: 1px solid white;
	width: 40%;
}

/* 팀 창단 이후 승률 그래프 */
.container-team-winlose-graph{
	display: inline-block;
	width: 40%; height: 300px;
	border: 1px solid white;

}

/* 전체 리그 참여 연혁 */
.container-team-league{
	display: inline-block;
	width: 40%; height: 300px;
	border: 1px solid white;
}
/* 현재 참여중 리그 */
.container-team-current-league{
	display: inline-block;
	width: 40%; height: 300px;
	border: 1px solid white;
}
/* 팀 전체 선수 열람 */
.container-team-all_members{
	display: inline-block;
	width: 80%; height: 300px;
	border: 1px solid white;
}

.container-team-all_members .table-all_member{
	border: 1px solid white;
	border-collapse: collapse;
}
.container-team-all_members .table-all_member th, td{
	border: 1px solid white;
	

}