/* 메인 */
/* 임시 */
section {
  width: calc(70%);
  z-index: 0;
}
.teammain-main,
.teamsep-main,
.teamplayerdetail-main {
  margin-top: 150px;
  margin-left: 30px;
  position: absolute;
  left: 20%;
  padding-top: 20px;
}

/* 사이드바 */
.team-sidebar {
  padding-top: 150px;
  width: calc(15%);
  height: 100vh;
  float: left;
  clear: both;
  box-shadow: 3px 2px 3px 3px rgba(163, 157, 157, 0.7);
}

/* 지역 버튼 */
.teammain-main .container-region {
  display: inline-block;
}
.teammain-main .item-region {
  float: left;
}
.teammain-main .item-region + .item-region {
  margin-left: 8px;
}

/* 검색 그룹 */

.teammain-main .group-search-team {
  float: right;
  clear: both;
}

/* 개별 팀 */

.teammain-main .container-team {
  margin-top: 10px;
}

.teammain-main .container-team .item-team {
  width: 300px;
  height: 200px;
  border: 1px solid black;
}

/* 페이지 네이션 */
.teammain-main .container-pagenation {
  width: inherit;
  padding: 0 auto;
}
/* 개별 팀박스 */

.teammain-main .container-teambox {
  margin-top: 30px;
}

.teammain-main .container-teambox .item-teambox {
  border: 3px double white;
  border-radius: 20px;
  background-color: rgb(38, 97, 173);
  min-width: 520px;
  width: calc(40%);
  position: relative;
  display: inline-block;
}
.teammain-main .container-teambox .item-teambox + .item-teambox:nth-child(2n) {
  margin-left: 20px;
}

.teammain-main .container-teambox .item-teambox .left-teambox,
.right-teambox {
  position: relative;
  display: inline-block;
}
.teammain-main .container-teambox .item-teambox .link-team-select {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url(./고양이\ 로고.png);
  background-size: 150px 150px;
}

.teammain-main .container-teambox .item-teambox .label-team {
  position: absolute;
  width: 150px;
  float: left;
  bottom: 0;
  background-color: #212529;
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  font-weight: 700;
  padding: 2px;
}
.teammain-main .container-teambox .right-teambox {
  margin: 30px calc(40% - 150px);
  position: absolute;
  font-size: 18px;
  vertical-align: middle;
  color: white;
}

/* 오른쪽 호버 박스 */
.teammain-rightbox {
  margin-top: 400px;
  position: fixed;
  right: 200px;
  width: calc(30%);
  border-radius: 20px;
  border: 1px solid black;
  background-color: #17a2b8;
}
.teammain-rightbox .hover-box {
  position: relative;
  display: inline-block;
}
.teammain-rightbox .container-calendar {
  border: 1px solid black;
  width: 200px;
  height: 200px;
}

/* 공용 */
.clear-fix::after {
  content: "";
  clear: both;
  display: block;
}
