.teamsep-main{
	background-color: #183153;
	border-radius: 30px;
}
.left-introduce{
	
	/* border: 1px solid black; */
	display: inline-block;
	width: 300px;

}
.right-introduce{
	
	
	/* border: 1px solid black; */
	
	display: inline-block;
	vertical-align: top;
	position: relative;
	
	
	

}
.right-introduce .list-team_intro{
	background-color: antiquewhite;
	border-radius: 30px;
	padding: 30px;
	font-size: 1.4em;
	font-weight: 700;
	line-height: 38px;
	box-shadow: 2px 2px 0 5px #1c1e20 ;
	
	
}
.right-introduce .list-team_intro .team-name {
	letter-spacing: -4px;
	font-size: 60px;
	color: black;
	text-shadow: 2px 2px 1px gray;

}
.right-introduce .list-team_intro .team-message{
	font-style: oblique;
	margin : 20px 0 20px 10px;
	
}
.left-introduce .box-logo{
	display: inline-block;
	
}


.block-liner{
	display: block;
	background-color: antiquewhite;
	margin-top : 30px;
}
.block-liner .content-blockliner{
	text-align: center;
	font-size: 30px;
	padding : 10px;
}
.block-liner .content-blockliner .titletext-latestscore{
	font-weight: 700;
}

/* 선수 라인업 */
.container-lineup{

	position: relative;
	margin-top : 30px;
	margin-left : 30px;
	display: inline-block;
	border-radius: 20px;
	background-color: rgb(38, 97, 173);
	width: calc( 20% );
	box-shadow: 2px 2px 0 5px #1c1e20 ;

}

.container-lineup .titletext-lineup{
	font-size: 28px;
	text-align: center;
	color: aliceblue;
	font-weight: 700;
}
.container-lineup .item-lineup{
	display: block;
	border-radius: 10px;
	background-color: antiquewhite;
	margin: 10px 0;

}
.container-lineup .item-lineup .link-lineup{
	margin : 10px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: 700;
}
.container-lineup .item-lineup .position-lineup{
	float: right;
	margin-right: 10px;
	margin-top: 3px;
	font-size: 20px;
	color: crimson;
	font-weight: 600;
}
.container-lineup .item-lineup .attendance{
	margin-left: 10px;
	margin-top : 4px;
	

}

.item-vs_icon{
	display: inline-block;
	font-size: 70px;
	color: antiquewhite;
	vertical-align: middle;
	margin: 0 auto;
}

.container-lineup.opponent{
	background-color: rgb(211, 44, 136);
	float: right;
	margin-right : 20px;
}



/* 선수 라인업 호버 메뉴  */
.container-hover-lineup{
	position: absolute;
	float: left;
	/* right: -300px; */
	right: -800px;
	 top: 0;
	border-radius: 30px;
	border : 5px solid wheat;
	background-color: rgb(23, 60, 109);
	color: white;
	padding: 20px;
	vertical-align: top;

}
.container-hover-lineup .player-name{
	margin-left: 10px;
	font-weight: 700;
}


.container-calendar{
	display: inline-block;
	border: 1px solid white;
}

/* 팀 소개 및 연혁 */
.container-teamhistory{
	display: inline-block;
	border: 1px solid white;
	width: 40%;
}

/* 팀 창단 이후 승률 그래프 */
.container-team-winlose-graph{
	display: inline-block;
	width: 40%; height: 300px;
	border: 1px solid white;

}

/* 전체 리그 참여 연혁 */
.container-team-league{
	display: inline-block;
	width: 40%; height: 300px;
	border: 1px solid white;
}
/* 현재 참여중 리그 */
.container-team-current-league{
	display: inline-block;
	width: 40%; height: 300px;
	border: 1px solid white;
}

.container-team-winlose-graph::after{
	clear: both; content: ''; display: block;
}

/* right-team-history */
.right-team-history{
	margin : 20px ;
	display: inline-block;
	background-color: antiquewhite;
	width: 70%;
}




/* 창단 후 승률그래프 */
.container-team-winlose-graph{
	float: right;
}

.container-team-winlose-graph .item-winlosegraph{
	border-radius: 20px;
	padding: 20px; 
	background-color: white;
	
}
.container-team-winlose-graph .item-winlosegraph::after{
	clear: both; content: ''; display: block;

}