<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hereo.project.dao.AuthDAO">
	<select id="isSiteManager" resultType="int">
		select me_siteauth from `members`
			where me_id = #{me_id}
	</select>
</mapper>