<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hereo.project.dao.BoardDAO">
	<select id="selectBoardType" resultType="com.hereo.project.vo.BoardTypeVO">
	<![CDATA[		
	
	select * from `board-type` where bt_w_auth<=#{auth}
	]]>
		
	</select>
	<select id="selectAllBoardType" resultType="com.hereo.project.vo.BoardTypeVO">
	
	select * from `board-type`
	</select>
	<select id="selectBoardCategoryRegion" resultType="com.hereo.project.vo.BoardCategoryVO">
	select * from `board-category` where bc_bt_num=#{bt_num} and bc_auth_sort="지역";
	</select>
	
	<select id="selectBoardCategoryName" resultType="com.hereo.project.vo.BoardCategoryVO">
	select * from `board-category` where bc_bt_num=#{bt_num} and bc_auth_sort !="지역";
	</select>
	
	<select id="selectFreeBoard" resultType="com.hereo.project.vo.BoardVO">
	select * from `board` where bo_bt_num=#{bt_num}
	</select>
	
	<select id="getBoardTypeBtNum" resultType="com.hereo.project.vo.BoardTypeVO">
	select * from `board-type` where bt_num = #{bt_num}
	</select>
</mapper>