<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hereo.project.dao.RecordDAO">
	<select id="selectAllHitRecord" resultType="com.hereo.project.vo.PlayerRecordHitterVO">
		select * from `playerrecord-hitter`

	</select>

</mapper>