<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hereo.project.dao.RegionSubDAO">
	<select id="getRegionSubList" resultType="com.hereo.project.vo.RegionSubVO">
	    select *
	    from region_sub
	    where rs_re_num = #{re_num}
	</select>
	<select id="selectRegionSub" resultType="com.hereo.project.vo.RegionSubVO">
		select * from region_sub where rs_gu = #{regionSub.rs_gu} and rs_re_num = #{regionSub.rs_re_num}
	</select>
	<insert id="insertRegionSub" useGeneratedKeys="true" keyProperty="regionSub.rs_num">
	    insert into region_sub (rs_gu, rs_re_num)
	    values (#{regionSub.rs_gu}, #{regionSub.rs_re_num})
	</insert>
	<select id="getRegionSubByNum" resultType="com.hereo.project.vo.RegionSubVO">
        SELECT * FROM region_sub WHERE rs_num = #{rd_rs_num}
    </select>
	<select id="selectRegionSubByRsGu" resultType="com.hereo.project.vo.RegionSubVO">
		select * from `region_sub` where rs_gu like #{rs_gu} and rs_re_num = #{re_num}
	</select>
	


</mapper>