<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hereo.project.dao.ScheduleDAO">
	<select id="selectTeamScheduleByTeamAfterToday" resultType="com.hereo.project.vo.MatchScheduleVO">
		select * from `match-schedule`
			where ms_datetime >= now() and 
			(ms_tm_home_num = #{teamNum} or ms_tm_away_num =#{teamNum}) 
	</select>
	<select id="selectNextTeamSchedule" resultType="com.hereo.project.vo.MatchScheduleVO">
		select * from `match-schedule`
			where ms_datetime >= now() and 
			(ms_tm_home_num = #{teamNum} or ms_tm_away_num =#{teamNum}) 
			order by ms_datetime asc limit 1;
	</select>
	<select id="selectStadiumByRv_Num" resultType="com.hereo.project.vo.StadiumVO">
		select * from stadium 
			where sd_num = (select st_sd_num from `stadium-timetable` where st_num = (select ss_st_num from `stadium-schedule` where ss_rv_num = #{rv_num}));
	</select>
	<select id="selectMatchScheduleByMsNum" resultType="com.hereo.project.vo.MatchScheduleVO">
		select * from `match-schedule`
			where ms_num = #{ms_num}
	</select>
</mapper>