<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hereo.project.dao.TeamBoardDAO">
	<select id="selectTeamBoardByTeam" resultType="com.hereo.project.vo.BoardVO">
		select * from board
			where bo_bt_num = (select bt_num from `board-type` where bt_types like '팀게시판' and bt_tm_num = #{tm.tm_num})
				and bo_title like concat('%', #{cri.search},'%')
				<if test="cri.type != 0">
					and bo_bc_num = #{cri.type}
				</if>
				order by bo_num desc
				limit #{cri.pageStart}, #{cri.perPageNum}
			
	
	</select>
	<select id="countTeamBoardTotalCnt" resultType="int">
		select count(*) from board
			where bo_bt_num = (select bt_num from `board-type` where bt_types like '팀게시판' and bt_tm_num = #{tm.tm_num})
				and bo_title like concat('%', #{cri.search},'%')
				<if test="cri.type != 0">
					and bo_bc_num = #{cri.type}
				</if>
	</select>
	
	<select id="selectTeamBoardCategory" resultType="com.hereo.project.vo.BoardCategoryVO">
		select * from `board-category`
			where bc_bt_num = (select bt_num from `board-type` where bt_types like '팀게시판' and bt_tm_num = #{tm.tm_num})
				
	</select>

</mapper>