<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hereo.project.dao.TeamPlayerDAO">
	<select id="selectPlayerListByTeam" resultType="com.hereo.project.vo.TeamPlayerVO">
		select * from `team-player`
			where tp_tm_num = #{tm_num}
	</select>
	<select id="selectTPlayerListByPl_Num" resultType="com.hereo.project.vo.TeamPlayerVO">
		select * from `team-player`
			where tp_pl_num = #{pl_num}
	</select>
	<select id="countTeamMember" resultType="int">
		select count(*) from `team-player`
			where tp_tm_num = #{teamNum} and tp_auth >= #{auth}
			<if test="cri.type != 0">
  				  				
  			</if>
	
	</select>
	<insert id="insertMembersToTeam">
		insert into `team-player`(tp_auth, tp_pl_num, tp_backnum, tp_tm_num)
		value(#{auth}, #{pl.pl_num}, 0, #{tm.tm_num})
			
	</insert>
	<select id="selectTeamPlayerByTeamAndPlayer" resultType="com.hereo.project.vo.TeamPlayerVO">
		select * from `team-player`
			where tp_tm_num =#{tm_num} and tp_pl_num = #{pl_num}
	</select>
	<update id="updateTeamPlayer">
		update `team-player`
			set tp_auth = #{tp.tp_auth},
				tp_backnum = #{tp.tp_backnum}
			where tp_num = #{tp.tp_num}
	</update>
	<select id="selectPlayerListByTeamAndAuth" resultType="com.hereo.project.vo.TeamPlayerVO">
		select * from `team-player`
			where tp_tm_num = #{teamNum} and tp_auth >= #{auth}
	</select>
	<select id="checkBackNum" resultType="int">
		select count(*) from `team-player`
			where tp_tm_num = #{tm_num} and tp_backnum = #{backNum} 
	</select>
	<insert id="insertNewTeamPlayer" useGeneratedKeys="true" keyProperty="tp.tp_num">
		insert into `team-player`
		select ifnull(max(tp_num), 0) +1, #{tp.tp_auth}, #{tp.tp_pl_num}, #{tp.tp_backnum}, #{tp.tp_tm_num}
		from `team-player`
	</insert>
	<select id="hasTeam" resultType="int">
		select count(*) from `team-player`
			where tp_pl_num = #{pl_num} and tp_auth >= 3
	</select>
	<select id="selectTeamByPlNumAndAuth" resultType="com.hereo.project.vo.TeamVO">
		select * from `team`
			where tm_num = (select tp_tm_num from `team-player` where tp_pl_num = #{pl_num} and tp_auth >= #{auth})
	</select>
	<select id="selectTeamPlayerByPlNumAndTmNum" resultType="com.hereo.project.vo.TeamPlayerVO">
		select * from `team-player`
			where tp_pl_num = #{pl_num} and tp_tm_num = #{tm_num}
			order by tp_auth desc
			limit 1   
	</select>
	<select id="selectPlayerRecordHitter" resultType="com.hereo.project.vo.PlayerRecordHitterVO">
		select * from `playerrecord-hitter`
			join `team-player` on `playerrecord-hitter`.ph_tp_num = `team-player`.tp_num
			join `match-record` on `playerrecord-hitter`.ph_mr_num = `match-record`.mr_num
			join `match-schedule` on `match-record`.mr_ms_num = `match-schedule`.ms_num
			where tp_pl_num = #{pl_num}
	</select>
	<select id="selectPlayerRecordPitcher" resultType="com.hereo.project.vo.PlayerRecordPitcherVO">
		select * from `playerrecord-pitcher`
			join `team-player` on `playerrecord-pitcher`.pp_tp_num = `team-player`.tp_num
			join `match-record` on `playerrecord-pitcher`.pp_mr_num = `match-record`.mr_num
			join `match-schedule` on `match-record`.mr_ms_num = `match-schedule`.ms_num
			where tp_pl_num = #{pl_num}
	</select>
	<select id="selectPlayerRecoreYearHitter" resultType="com.hereo.project.vo.PlayerRecordYearHitterVO">
		select * from `playerrecord_year-hitter`
			join `team-player` on `playerrecord_year-hitter`.yh_tp_num = `team-player`.tp_num
			where tp_pl_num = #{pl_num}
	</select>
	<select id="selectPlayerRecordYearPitcher" resultType="com.hereo.project.vo.PlayerRecordYearPitcherVO">
		select * from `playerrecord_year-pitcher`
			join `team-player` on `playerrecord_year-pitcher`.yp_tp_num = `team-player`.tp_num
			where tp_pl_num = #{pl_num}
	</select>
	<select id="selectTeamPlayerByTpNum" resultType="com.hereo.project.vo.TeamPlayerVO">
		select * from `team-player`
			where tp_num = #{tp_num}
	</select>

</mapper>