<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hereo.project.dao.TeamDAO">
	<select id="selectTeamsByCriAndState" resultType="com.hereo.project.vo.TeamVO">
		select * from team
		where
  			(tm_name like concat('%',#{cri.search} ,'%'))
  			<if test="state !=null">
  			and tm_teamstate like #{state}
  			</if>
  			<if test="cri.type != 0">
  				and tm_re_num= #{cri.type}  				
  			</if>
  			
  			order by tm_num desc
			limit #{cri.pageStart}, #{cri.perPageNum}
			
	</select>
	<select id="selectAllTeamsByCri" resultType="com.hereo.project.vo.TeamVO">
		select * from team
		where
  			(tm_name like concat('%',#{cri.search} ,'%'))
  			<if test="cri.type != 0">
  				and tm_re_num= #{cri.type}  				
  			</if>
  			order by tm_num desc
			limit #{cri.pageStart}, #{cri.perPageNum}
			
	</select>
	<select id="selectTeamByTm_num" resultType="com.hereo.project.vo.TeamVO">
		select * from team
			where tm_num = #{tm_num}
	</select>
	<select id = "countAllTeams" resultType="int">
		select
			count(tm_num)
		from
			team
		where tm_teamstate like #{state}
			<if test="cri.type != 0">
  				and tm_re_num= #{cri.type}  				
  			</if>
	</select>
	<insert id="insertTeam" useGeneratedKeys="true" keyProperty="tm.tm_num" >
		insert into team(tm_num, tm_name, tm_startday, tm_slogan, tm_re_num, tm_openformatch, tm_teamgender, tm_teamstate, tm_me_id, tm_team_img, tm_team_introduce)
		select ifnull(max(tm_num), 0) +1, #{tm.tm_name}, ifnull(#{tm.tm_startday}, now()), #{tm.tm_slogan}, #{tm.tm_re_num}, #{tm.tm_openformatch}, #{tm.tm_teamgender}, '심사중',  #{tm.tm_me_id}, #{tm.tm_team_img}, #{tm.tm_team_introduce}
		from team
	</insert>
	<select id="selectTeamAppListByTeam" resultType="com.hereo.project.vo.TeamApprovalListVO">
		select * from `team-approvallist`
			where ta_tm_num = #{tm.tm_num}
	</select>
	<insert id="insertTeamAppList">
		insert into `team-approvallist`(ta_tm_num, ta_register_date, ta_state, ta_bo_num)
			value((select tm_num from team where tm_name like "${tm.tm_name}"), now(), 0, null)
	</insert>
	<update id="updateTeamAppListState">
		update `team-approvallist`
			set ta_state = #{ta_state}
			where ta_tm_num = #{tm_num}
	</update>
	<delete id="deleteTeamAppList">
		delete from `team-approvallist`	where ta_tm_num = #{tm_num}
	</delete>
	<update id="updateTeamState">
		update team
			set tm_teamstate = #{state}
			where tm_num = #{tm_num}
	</update>
	<select id="selectTeamByName" resultType="com.hereo.project.vo.TeamVO">
		select * from team
			where tm_name =#{tm_name}
	</select>
	<insert id="insertTeamWTJList">
		insert into `team-wtjoin`(tj_tm_num, tj_pl_num, tj_register_date, tj_state)
		value(#{tp.tp_tm_num}, #{tp.tp_pl_num}, now(), '신청대기')
	</insert>
	<select id="selectWTJByTeam" resultType="com.hereo.project.vo.TeamWTJoinVO">
		select * from `team-wtjoin`
			where tj_tm_num = #{teamNum} and tj_state = #{tj_state}
	</select>
	<select id="selectWTJByTjNum" resultType="com.hereo.project.vo.TeamWTJoinVO">
		select * from `team-wtjoin`
			where tj_num = #{tjNum}
	</select>
	<select id="countWholeWTJ" resultType="int">
		select count(*) from `team-wtjoin`
			where tj_tm_num = #{teamNum} and tj_state = #{tj_state}
	</select>
	<update id="updateTeamWTJList">
		update `team-wtjoin`
			set
				tj_state = #{tj_state}
			where
				tj_num = #{tj_num}
	</update>
	<update id="updateTeam">
		update team
			set 
				tm_startday = #{tm.tm_startday},
				tm_slogan = #{tm.tm_slogan},
				tm_re_num = #{tm.tm_re_num},
				tm_openformatch = #{tm.tm_openformatch},
				tm_teamgender = #{tm.tm_teamgender},
				tm_team_introduce = #{tm.tm_team_introduce}, 
				tm_team_img = #{tm.tm_team_img}
			where 
				tm_num = #{tm.tm_num}
				
	</update>
	
	<select id="getNewTeam" resultType="com.hereo.project.vo.TeamVO">
		select * from `team`
			order by tm_num DESC
			limit 3
	</select>

</mapper>