@import "../common/style.css";
/* 예약 메인 페이지 */
/* 예약 메인 페이지 */
@import "./reservation-main.css";
/* 예약 사이드바 */
@import "../reservation/reservation-sidebar.css";
/* 예약 상세 페이지 */
@import "./reservation-stadium_detail.css";
@import "./reservation-stadium.css";
@import "./reservation-stadium_insert.css";
@import "./reservation-stadium_info.css";

/* datepicker */
.search_box .ui-datepicker{
	position: relative; width: 400px;  font-size: 15px;
}
.search_box .ui-datepicker select.ui-datepicker-month{ width:40%; font-size: 16px; font-weight: bold; text-align: center; border: 0;}
.search_box .ui-datepicker select.ui-datepicker-year{ width:50%; font-size: 16px; font-weight: bold; text-align: center; border: 0;}
.search_box .ui-datepicker-calendar > thead th.ui-datepicker-week-end{font-size: 16px;}
.search_box .ui-datepicker-calendar > tbody td.ui-datepicker-week-end:first-child a { color: red; }
.search_box .ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a { color: blue; }
.search_box .ui-datepicker .ui-datepicker-buttonpane button{
	padding: 0; font-size: 14px; font-weight: bold; color: black;
}