/* 예약하기 페이지 */
*{margin: 0; list-style-type: none; padding: 0;}
strong{
   color: red; font-size: 20px;
}
header{
   text-align: center; margin: 10px;
}
section{
   margin-left: 100px;
}
.booking{
   width: 1000px; height: 100%; display: inline-block;
   box-sizing: border-box; position: relative;
   margin-top: 150px; 
   left: 20%; padding-top: 20px; 
}
.booking .content{
   width: 100%; height: 100%; 
   
}
.booking .reserve_info{
   height: 500px; margin-left: 100px; padding: 10px;
}
.booking .reserve_info [type="text"]{
   border: 0; width: 200px; height: 40px;
   border-radius: 10px; margin-top: 10px;
}
.booking .pay-select{
   height: 100px; width: 90%;  display: inline-block;
}
.booking .pay-select h3{
   margin-bottom: 10px; font-size: 18px;
}
.booking .pay-select .select-type{
   width: 200px; border: 1px solid rgba(0, 0, 0, 0.8);
   border-radius: 5px; font-size: 16px; color: rgba(0, 0, 0, 0.56);
   cursor: pointer;
}
.booking .pay-regulation{
   padding: 10px; 
}
.booking .pay-regulation .rule-list{
   font-size: 17px; 
}
.booking .pay-regulation .rule-list .rule-item{
   margin-top: 5px; list-style-type: decimal; 
}
.booking .btn-reservation{
   width: 100%; height: 50px; font-size: 20px; border-radius: 10px;
   background-color: #fff; color: blue; font-weight: bold;
}
.booking .agree{
   padding: 23px 0;
}
.booking .agree .all_check{
   font-weight: bold;
}
.booking .agree p{
   position: relative; padding-top: 11px; padding-bottom: 10px; line-height: 1;
   padding-left: 37px; 
}
.booking .agree input{
   position: absolute; top: 50%; left: 0; margin-top: -12px;
   width: 24px; height: 24px; border: none; cursor: pointer;
}
.booking .agree span{
      font-style: normal;      
}
.booking .popup{
   display: none;
}
.list-reservation-side{
      position: fixed; padding-top: 180px;width: calc(15%);
      height: 100vh; float: left; clear: both; background-color: inherit;
      list-style: none; line-height: 25px;
}