@import "../common/style.css";
@import "./team.css";
@import "./team-sep.css";
@import "./team-playerdetail.css";
@import "./team-join.css";
@import "./team-record.css";
/* @import "./board/team-board-common.css"; */
@import "./team-create_team.css";
@import "./team-whole_player.css";

/* 보드 */
/* @import "./board/team-sep-board_main.css";
@import "./board/team-sep-board_view.css";
@import "./board/team-sep-board_write.css"; */

/* 가입 보드 */
/* @import "./join-control/team-join-board_view.css";
@import "./join-control/team-join-board_main.css"; */


/* 사이드바 */
/* @import "./sidebar/sidebar.css"; */

/* 팀 신청 보드 */
/* @import "./admin-crateTeam/team-create-board_main.css";
@import "./admin-crateTeam/team-create-board_view.css"; */



*{
	list-style:none;
}

section {
  width: calc(70%);
  z-index: 0;
}
/* .teammain-main,
.teamsep-main,
.teamplayerdetail-main,
.teamrec-main,
.teamjoin-main,
.team-join-board-main_main,
.team-join-board_view_main */
 section{
  margin-top: 150px;
  margin-left: 30px;
  position: absolute;
  left: 20%;
  padding-top: 10px;
}

