@charset "UTF-8";

.login-title {
    display: block;
    margin-top: 70px;
    margin-left: 35%;
    font-size: 40px;
    color: #150050;
    font-weight: 700;
}
.login-comment {
    padding-left: 22%;
    font-weight: 600;
    margin-bottom: 10px;
}
.login-input {
    margin-left: 5%;
    width: 90%;
    height: 45px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    padding-left: 12px;
    margin-bottom: 7px;
    color: #222;
    outline: none;
}
.id-remember {
    margin-left: 5%;
    font-size: 13px;
    cursor: pointer;
    color: #888888;
}
.id-remember span {
    padding: 0 3px;
}
.login-btn {
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 45px;
    background-color: #FFC54D;
    color: #150050;
    border-style: none;
    font-weight: 600;
    margin-bottom: 15px;
}
.search-idPw {
    padding-left: 20%;
    color: #888888;
}
.search-idPw2 {
    padding-left: 27%;
    color: #888888;
}
.search-idPw li,
.search-idPw2 li {
    float: left;
    font-size: 13px;
    margin: 0 3px;
}
.search-idPw li a:hover,
.search-idPw2 li a:hover {
    text-decoration: underline;
}

