*{margin: 0; padding: 0;}
ul,ol{ list-style: none;}
a{	text-decoration: none;}

.main-container{
background-color: #183153; width: 1000px; margin:0 auto;
padding-bottom: 20px;
}

/* 기록등록 메인 타이틀 */
.main-container .box-top{
padding: 10px;
}
.box-top .top-title{
	height: 50px; color: aliceblue;  text-align: center;
	font-size: 20px; margin-top: 20px;
}

/* 스코어보드 테이블 */
.box-score{
	height: 120px; margin: 10px 70px 0;
}
.box-score .tbl{
	width: 100%; border-top: 1px solid #929292; text-align: center;
	vertical-align: middle; border-collapse: collapse; background-color: #929292;
}
.box-score .tbl thead th{
	padding: 5px 0; font-weight: 550;
}
.box-score .tbl th{
	background: 0 0; border-bottom: 1px solid #dcdcdc; width: 50px;
	font-family: ngb; font-size: 18px; color: #121212;
}
.box-score .tbl td{
	padding: 10px 0; background: 0 0; border-bottom: 1px solid #dcdcdc;
	font-family: ngb; font-size: 15px; text-align: center;
}

.box-score [class^=score-]{
	float: left;
}
.box-score .data1{
	width: 215px; border-right: 1px solid #dcdcdc;
}
.box-score .data2{
	width: 460px; border-right: 1px solid #dcdcdc;
}
.box-score .data3{
	width: 160px;
}



.top-box-exceptiongame{
	width: 900px;	text-align: center;
}
.exception-box{
	height: 40px; line-height: 30px; 
}
.top-box-exceptiongame .left-box{
	color: gray; font-style: oblique; font-size: 12px;
	margin-left: 90px;
}

.btn-exceptiongame{
	width: 20px; background-color: gray; color: gray;
}
.exception-box .btn-save{
	width: 100px; height: 37px; margin-left: 180px; margin-top: 10px; 
}

/* 미들 박스 */
.box-middle{
	border-radius: 10px; border: 1px solid #000;
	margin: 50px 50px; width: 900px; background-color: #fff;
}
.box-middle .middle-top{
	height: 50px; text-align: center; line-height: 50px;
	 color: #505050;  background-color: #c5c5c5; border-radius: 10px 10px 0 0;
	 
}
.box-middle .middle-top span{
	cursor: pointer; 
}
.box-middle .middle-top div+div{
	border-left: 1px solid gray;
}
.box-middle .middle-top .home-team[aria-selected=true]{
	background-color: white; border-radius: 8px 0 0 0; padding-right: 1.5px;
	font-weight: 800; color: #121212;
}
.box-middle .middle-top .away-team[aria-selected=true]{
	background-color: white; border-radius: 0 8px 0 0; padding-left: 1.5px;
	font-weight: 800; color: #121212;
}

.box-middle .middle-top[aria-selected=true]{
	background-color: white; border-radius: 0 8px 0 0;
	font-weight: 800; color: #121212;
}



.middle-top .home-team{
	width: 49.9%; float:left;
}
.middle-top .away-team{
	width: 49.8%; float:right;
}
.recode-guide{
	font-size: 12px; font-style:normal; color: gray; margin: 5px;
}

.recode-guide input{
	pointer-events: none; text-align: center; border-radius: 5px; 
	border: 1px solid gray; margin-left: 26px;
}
.recode-guide input:nth-child(1){	margin-left: 10px;}


/* 기록 내용 */
.middle-recodeContent{
	border-top: 1px solid #dae1e6; font-size: 13px; 
	height: 240px;  position: relative; color: #000; 
}
.middle-recodeContent li{
	float: left; position: relative; display: list-item;
	width: 10%; height: 20px; text-align: center;
}
.middle-recodeContent li .btn-content{
	background-color: red; width: 24px; height: 16px;
	border: 0.1px solid white; border-radius: 4px; color: white; 
	text-align: center; cursor: pointer; font-size: 12px;
}
.middle-recodeContent .box-line [class^=line-to-]{
	position: absolute; background-color: #e4e8eb;
}
.middle-recodeContent .box-line [class^=line-to-bottom]{
	left: 0; right: 0; height: 1px;
}
.middle-recodeContent .box-line .line-to-bottom1{		top: 18px;		}
.middle-recodeContent .box-line .line-to-bottom2{		top: 38px;		}
.middle-recodeContent .box-line .line-to-bottom3{		top: 58px;		}
.middle-recodeContent .box-line .line-to-bottom4{		top: 78px;		}
.middle-recodeContent .box-line .line-to-bottom5{		top: 98px;		}
.middle-recodeContent .box-line .line-to-bottom6{		top: 118px;		}
.middle-recodeContent .box-line .line-to-bottom7{		top: 138px;		}
.middle-recodeContent .box-line .line-to-bottom8{		top: 158px;		}
.middle-recodeContent .box-line .line-to-bottom9{		top: 178px;		}
.middle-recodeContent .box-line .line-to-bottom10{		top: 198px;		}
.middle-recodeContent .box-line .line-to-bottom11{		top: 218px;		}
.middle-recodeContent .box-line .line-to-bottom12{		top: 238px;		}

.middle-recodeContent .box-line [class^=line-to-right]{
	top: 0; bottom: 0; width: 1px;
}
.middle-recodeContent .box-line .line-to-right1{	left: 90px;	}
.middle-recodeContent .box-line .line-to-right2{	left: 180px;	}
.middle-recodeContent .box-line .line-to-right3{	left: 270px;	}
.middle-recodeContent .box-line .line-to-right4{	left: 360px;	}
.middle-recodeContent .box-line .line-to-right5{	left: 450px;	}
.middle-recodeContent .box-line .line-to-right6{	left: 540px;	}
.middle-recodeContent .box-line .line-to-right7{	left: 630px;	}
.middle-recodeContent .box-line .line-to-right8{	left: 720px;	}
.middle-recodeContent .box-line .line-to-right9{	left: 810px;	}

.middle-recodeTitle{
	height: 30px; line-height: 30px; font-size: 12px;
	color: gray; 
}
.middle-recodeTitle div{
	float: left; margin-left: 10px;
}
.middle-recodeTitle div:nth-child(2){	margin-left: 40px;	}
.middle-recodeTitle div:nth-child(3){	margin-left: 44px;	}
.middle-recodeTitle div:nth-child(4){	margin-left: 45px;	}
.middle-recodeTitle div:nth-child(5){	margin-left: 52px;	}
.middle-recodeTitle div:nth-child(6){	margin-left: 49px;	}
.middle-recodeTitle div:nth-child(7){	margin-left: 50px;	}
.middle-recodeTitle div:nth-child(8){	margin-left: 50px;	}
.middle-recodeTitle div:nth-child(9){	margin-left: 48px;	}
.middle-recodeTitle div:nth-child(10){	margin-left: 50px;	}
.middle-recodeTitle div:nth-child(11){	margin-left: 48px;	}
.middle-recodeTitle div:nth-child(12){	margin-left: 50px;	}
.middle-recodeTitle div:nth-child(13){	margin-left: 32px;	}
.middle-recodeTitle div:nth-child(14){	margin-left: 7px;	}
.middle-recodeTitle div:nth-child(15){	margin-left: 6px;	}
.middle-recodeTitle div:nth-child(16){	margin-left: 6px;	}
.middle-recodeTitle div:nth-child(17){	margin-left: 5px;	}

.box-middle .middle-recode-board{
	background-color: #f4f4f4; margin-left: 3px;
}
.box-middle .middle-recode-board [aria-selected=false]{
	display: none;
}
.box-middle .tbl-addPlayer{
	padding: 20px 5px 50px 10px
}

.middle-footer .btn-save{
	float: right; width: 100px; height: 37px; 
	margin: 10px 75px; 
}

