@charset "UTF-8";
.topBar {
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 99;
  width: 100%;
  height: 120px;
}
.topBar__containerBox1 {
  position: relative;
  height: 40px;
}
.topBar__list {
  list-style: none;
  position: absolute;
  right: 20px;
  top: 10px;
}
.topBar__list li {
  float: left;
  margin-right: 20px;
  padding: 5px;
  font-size: 12px;
}
.topBar__list li:hover {
  text-decoration: underline;
}
/* 메인 메뉴 네비 */
.menu-containerBox2 {
  padding: 0 14%;
  background-color: #150050;
  height: 80px;
}

.menu-containerBox2__bigBox {
  display: flex;
}
.menu-container__box {
  width: 20%;
  height: 80px;
  position: relative;
 }

.menu-container__box > a {
  font-family: GangwonEdu_OTFBoldA;
  display: block;
  height: 80px;
  position: absolute;
  line-height: 40px;
 }
.menu-container__box a:not(#home) span {
  display: block;
  font-size: 26px;
  color: #f9f5e7;
}
.menu-container__box > a:not(#home) span {
  margin-top: 22px;
}

#home {
  font-family: SBAggroB;
  font-size: 28px;
  color: #DA0037;
  text-shadow: 1px 2px 1px black; 
  font-weight: 600;
  line-height: 85px;
}

.submenu-containerBox1 {
  margin-top: 80px;
  
  width: 150px;
  background-color: tomato;
  border-radius : 5px;
}
.submenu-containerBox1 > li {
  color: black;
  font-size: 15px;
  font-weight: 600;
  padding: 4px 4px;
  background-color: tomato;
  border-radius : 5px;
  

}

